body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.contenedor {
    width: 80%;
    margin: 20px auto;
    border: 2px solid #3498db; /* Color azul similar al de los botones */
    border-radius: 10px;
}
.cabecera {
    align-items: center;
    background-color: #3498db; /* Color azul similar al de los botones */
    color: white;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.area-trabajo {
    padding: 20px;
}
.form-group {
    align-items: center;
}
.botones {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.botones:hover {
    background-color: #0056b3;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
   
    padding: 5px;
    border-radius: 1px;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: #ff0000;
    margin-top: 10px;
}

